.searchItem {
	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.goBack {
	margin-bottom: 30px;
}

.resultStr {
	margin-bottom: 30px;
	font-size: 18px;
	text-align: center;

	@media (max-width: 549px) {
		font-size: 16px;
	}
}

.pagesList {
	margin: 0;
	padding: 0;
}
