.advantages {
	margin: 0;
	padding: 0;
}

.advantagesItem {
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.advantage {
	display: flex;
}

.advantageLeft {
	margin-right: 40px;
}

.advantageRight {
	padding-top: 12px;
}

.icon {
	width: 50px;
	height: 50px;

	svg {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.line {
	position: relative;
	flex-grow: 1;
	margin-top: 17px;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 1px;
		height: 100%;
		background-color: #D2D2D2;
	}
}

.description {
	margin-top: 20px;
}

@media screen and (max-width: 1000px) {
	.advantageLeft {
		margin-right: 20px;
	}
}

@media screen and (max-width: 768px) {
	.advantagesItem {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

@media screen and (max-width: 547px) {
	.advantagesItem {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
