.wrapper {
	display: grid;
	grid-template: auto 1fr auto / auto 230px minmax(320px, 1200px) auto;
	grid-template-areas:
		". header header ."
		". sidebar main ."
		"footer footer footer footer";
	width: 100%;
	min-height: 100vh;
	gap: 0 30px;
}

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
	padding-bottom: 30px;
}

.main {
	grid-area: main;
	padding: 40px 0 50px;
	outline: none;
}

.footer {
	grid-area: footer;
}

.skipLink {
	display: block;
	position: fixed;
	top: 0;
	left: 130px;
	height: 0;
	overflow: hidden;
	border-radius: var(--bord-rad-main);
	background-color: var(--primary);
	color: var(--white);
	font-size: 0;

	&.displayed {
		height: auto;
		padding: 5px;
		font-size: 14px;
	}
}

@media (max-width: 768px) {
	.wrapper {
		grid-template-areas:
			"header"
			"main"
			"footer";
		grid-template-columns: minmax(320px, 1fr);
	}

	.sidebar {
		display: none;
	}

	.main {
		padding: 105px 0 50px;
	}
}
