.footer {
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 25px 32px;
	background-color: var(--primary);
}

.text {
	color: var(--white);
	font-size: 16px;
	font-weight: 500;
	line-height: calc(22 / 16);
}

.linkList {
	display: flex;
	margin: 0;
	padding: 0;

	&__item {
		text-align: center;

		&:not(:last-child) {
			margin-right: 40px;
		}
	}

	&__link {
		&:hover {
			color: var(--gray-light);
		}
	}
}

@media screen and (max-width: 940px) {
	.footer {
		grid-template-columns: 1fr;
		gap: 10px 0;
		justify-content: center;

		&__column {
			display: flex;
			justify-content: center;

			&:nth-child(1) {
				grid-row: 2;
			}

			&:nth-child(2) {
				grid-row: 1;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.footer {
		gap: 20px 0;

		&__copyright {
			font-size: 12px;
		}
	}

	.linkList {
		display: block;

		&__item {
			text-align: center;

			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
	}
}
