.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.headerLeft {
	display: flex;
	align-items: center;
}

.titlePage {
	margin-right: 20px;
}

.hh {
	padding: 25px 0;
}

.hhHeader {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.titleHh {
	margin-right: 20px;
}

.advantages {
	padding: 25px 0 15px;
}

.advantagesTitle {
	margin-bottom: 27px;
}

.seo {
	padding: 15px 0;
	padding-left: 20px;

	h1 {
		font-size: 26px;
		font-weight: 500;
		line-height: calc(35 / 26);
	}

	h2 {
		font-size: 22px;
		font-weight: 500;
		line-height: calc(30 / 22);
	}

	h3 {
		font-size: 20px;
		font-weight: 600;
		line-height: calc(27 / 20);
	}
}

.skills {
	padding-top: 15px;
}

.titleSkills {
	margin-bottom: 20px;
}

.skillsList {
	display: flex;
	margin: 0 -5px;
	padding: 0;
}

.skillsItem {
	padding: 0 5px;
}

.productsList {
	padding: 0;
	margin: 0;
	list-style: none;
}

.productsItem {
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 1200px) {
	.header {
		flex-direction: column;
		justify-content: start;
		align-items: start;
	}

	.headerLeft {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 768px) {
	.hh {
		padding: 25px 0 20px;
	}

	.advantages {
		padding: 20px 0 10px;
	}
}

@media screen and (max-width: 576px) {
	.product {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	.seo {
		padding: 10px 0;
		padding-left: 10px;
	}

	.advantages {
		padding: 15px 0 10px;
	}
}
