.wrapper {
	display: flex;
	align-items: center;
	border-radius: var(--bord-rad-main);
	background-color: var(--white);
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

.input {
	width: 100%;
	padding: 4px 2px 4px 0;

	input {
		border: none;
		box-shadow: none;
	}
}

.btn {
	width: 30px;
	height: 30px;
	padding: 7px;
	border-radius: var(--bord-rad-main);
	outline-color: var(--black);

	svg {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
