:root {
	--black: #3B434E;
	--white: #FFF;
	--primary: #7653FC;
	--primary-hover: #6344DF;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--gray: #A4A4A4;
	--gray-light: #EBEBEB;
	--salmon: #FC836D;
	--red: #DE0000;
	--red-light: #FCBBBB;
	--menu: #787D85;
	--bg-main: #F5F6F8;
	--bord-rad-main: 5px;
	--bord-rad-tags: 20px;
	--transition-time: 0.3s;
	--font-family: NotoSans, sans-serif;
}
